<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> CSDL Web - Quản lí đề án </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <h1 class="page-header text-center"> Welcome to Database </div>
        <h2> Select an option </h2>
        <label for="Query">Enter the query</label>
        <form class="container" action="/process" method="post">
            <label for="Query">Query:</label>
            <input type="text" id="Query" name="Query" placeholder="Enter the query"><br>
            <button type="submit" class="btn btn-dark" formaction="/main.py">Submit</button>
        </form>
 </html>