<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> CSDL Web - Quản lí đề án </title>
        <link href="/static/21002134_buoi5css.css" rel="stylesheet">
    </head>
    <body>
        <h1> Welcome to Database </div>
        <h2> Select an option </h2>
        <p>Enter the query<p>
        <form class="container" action="/query" method="post">
            <label for="Query">Query:</label>
            <input type="text" id="Query" name="Query" placeholder="Enter the query"><br>
            <button type="submit" class="btn btn-dark" formaction="/templates/result.html">Submit</button>
        </form>
 </html>