body {
    background-image: url("https://wallpapers.com/images/featured/light-blue-2iuzyh711jo9bmgo.jpg")
}

h1 {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 20px 500px 20px 500px;
    box-shadow: inset 0px 0px 40px 40px rgb(74, 205, 44);
    border-style: solid;
    border-width: 5px;
    border-color: #9aaf97;
    border-radius: 10px
}

div.container-fluid {
    margin: auto;
    margin-top: 50px
}
table, tr, th, td {
    border: 5px solid;
    border-color: #9aaf97;
    margin: auto
}
